/*seteo del body y asignacion de tipografia y color de fondo*/
body *{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;

}


/*tamaño icono*/
.icono_vch{
    height: 2rem;
}

/*barra de navegacion transparente con pasicion fija*/
.navbar{
    background-color: transparent !important;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.cian{
    background-color: cyan;
}

h4{
    color: white;
    text-align: center;
}



